body,html {
	height: 100%;
	width: 100%
}

.enhancer-intro,.enhancer-teamIntro {
	font-size: 20px;
	line-height: 36px
}

body {
	background-size: 120%;
	position: relative;
	margin: 0;
	padding: 0
}

img {
	user-select: none
}

.content-mask {
	position: absolute;
	width: 100%;
	top: 46px;
	z-index: -1;
	left: 0;
	height: 888px;
	background-color: #fff;
	opacity: .9
}

.content {
	margin: 24px auto;
	width: 720px;
	height: 860px;
	color: #111;
	font-weight: 100
}

.intro-title {
	position: relative;
	text-align: center;
	height: 54px;
	width: 100%;
	margin-top: 48px;
	padding: 24px 0
}

.intro-title img {
	cursor: pointer
}

.enhancer-logo {
	height: 46px;
	margin-right: 16px;
	position: relative;
	top: -4px
}

.lab-logo {
	margin-left: 16px;
	height: 54px
}

.wuyuan-logo {
	height: 96px;
	left: 50%;
	position: relative;
	margin: 56px 0 24px -48px
}

.mission-title,.vision-title {
	color: #0073ea;
	line-height: 108px;
	text-align: center
}

.mission-title {
	font-size: 32px;
	margin-top: 24px;
	font-weight: 900
}

.mission-intro {
	font-size: 24px;
	text-align: center;
	font-weight: 100
}

.vision-title {
	font-size: 36px;
	font-weight: 700
}

.vision-intro {
	font-size: 32px;
	text-align: center
}

.contact-title {
	font-size: 24px;
	font-weight: 400;
	color: #555;
	margin: 96px 0 0;
	padding: 96px 0 12px;
	border-top: solid 2px #ddd
}

.contact-us {
	color: #555;
	height: 240px
}

.contact-us span {
	display: block;
	line-height: 32px;
	font-size: 16px
}

.contact-us span i {
	display: inline-block;
	width: 24px
}